body {
    min-height: 200vh;
  }
  
a {    
    cursor: pointer;
}


.center {
    text-align: center;
}

.intro {
      /* background-color: #FAFAFA; */
      padding: 25px 10px;
  
      

}

.background-img {
    background-image: url('../images/stock2.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.intro-title {
    font-weight: bold;
    padding: 0px 10px;
    font-size: 6vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}

.intro-subtitle {
    color: white;
    padding: 0px 10px;
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}

.intro-description {
    font-size: 18px;
    padding: 0px 10px;
    font-size: 1vw;
    color: white;
    font-weight: bold;
}

.intro-buttons {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.intro-portfolio-btn {
    margin: 10px;
    text-align: center;
    color: white;
    /* width: 45%; */
}

.intro-resume-btn {
    margin: 10px;
    text-align: center;
    color: white;
    /* width: 45%; */
}

html {
    scroll-behavior: smooth;
  }

.nav-link {
    font-size: 18px;
    font-weight: bold;
}

.navbar-brand .nav-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
    display: inline-block   
}

.profile-image {
    max-width: 160px;
    margin: 0 auto;
    border-radius: 15%;
}

.icon-row {
    margin: 0 auto;
    padding: 5px;
}

.social-icon {
    padding: 10px;
}

hr {
    border: 0;
    clear:both;
    /* display:block; */
    width: 90%;               
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    height: 0.4px;
}

.custom-green {
    background-color: #54B689;
}

@media all and (max-width:600px) {

    hr {
        display: none;
    }

    .intro-subtitle {
        font-size: 4vw;
    }



    .intro-description {
        display: none;
    }
}



